DEBUG=True
SECRET_KEY=tu-clave-secreta-aqui
ALLOWED_HOSTS=localhost,127.0.0.1
# Database (PostgreSQL)
DB_NAME=sistema_prosalud
DB_USER=tu-usuario-db
DB_PASSWORD=tu-password-db
DB_HOST=localhost
DB_PORT=5432
